<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPaymentOrderMapper">
    
    <resultMap type="SysPaymentOrder" id="SysPaymentOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="amount"    column="amount"    />
        <result property="paymentType"    column="payment_type"    />
        <result property="qrCodeUrl"    column="qr_code_url"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="productName"    column="product_name"    />
        <result property="userInfo"    column="user_info"    />
        <result property="addonId"    column="addon_id"    />
        <result property="planId"    column="plan_id"    />
        <result property="userId"    column="user_id"    />
        <result property="clientUserId"    column="client_user_id"    />
        <result property="billingType"    column="billing_type"    />
        <result property="quantity"    column="quantity"    />
        <result property="clientUserAddonId"    column="client_user_addon_id"    />
        <result property="clientSubscriptionId"    column="client_subscription_id"    />
    </resultMap>


    <!-- 新增支付订单 -->
    <insert id="insert" parameterType="PaymentOrder" useGeneratedKeys="true" keyProperty="id">
        insert into sys_payment_order (
        <if test="orderNo != null and orderNo != ''">order_no,</if>
        <if test="amount != null">amount,</if>
        <if test="paymentType != null and paymentType != ''">payment_type,</if>
        <if test="qrCodeUrl != null and qrCodeUrl != ''">qr_code_url,</if>
        <if test="productName != null and productName != ''">product_name,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createTime != null">create_time,</if>
        <if test="userInfo != null">user_info,</if>
        <if test="addonId != null">addon_id,</if>
        <if test="planId != null">plan_id,</if>
        <if test="userId != null">user_id,</if>
        <if test="clientUserId != null">client_user_id,</if>
        <if test="billingType != null">billing_type,</if>
        <if test="quantity != null">quantity,</if>
        <if test="clientUserAddonId != null">client_user_addon_id,</if>
        <if test="clientSubscriptionId != null">client_subscription_id,</if>
        update_time
        ) values (
        <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
        <if test="amount != null">#{amount},</if>
        <if test="paymentType != null and paymentType != ''">#{paymentType},</if>
        <if test="qrCodeUrl != null and qrCodeUrl != ''">#{qrCodeUrl},</if>
        <if test="productName != null and productName != ''">#{productName},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createTime != null">#{createTime},</if>
        <if test="userInfo != null">#{userInfo},</if>
        <if test="addonId != null">#{addonId},</if>
        <if test="planId != null">#{planId},</if>
        <if test="userId != null">#{userId},</if>
        <if test="clientUserId != null">#{clientUserId},</if>
        <if test="billingType != null">#{billingType},</if>
        <if test="quantity != null">#{quantity},</if>
        <if test="clientUserAddonId != null">#{clientUserAddonId},</if>
        <if test="clientSubscriptionId != null">#{clientSubscriptionId},</if>
        sysdate()
        )
    </insert>


    <sql id="selectSysPaymentOrderVo">
        select id, order_no, amount, payment_type, qr_code_url, status, create_time, update_time, pay_time,addon_id,
        plan_id,user_id,client_user_id,billing_type,quantity,client_user_addon_id,client_subscription_id,
        product_name, user_info from sys_payment_order
    </sql>

    <select id="selectSysPaymentOrderList" parameterType="SysPaymentOrder" resultMap="SysPaymentOrderResult">
        <include refid="selectSysPaymentOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no like concat('%', #{orderNo}, '%')</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="paymentType != null  and paymentType != ''"> and payment_type = #{paymentType}</if>
            <if test="qrCodeUrl != null  and qrCodeUrl != ''"> and qr_code_url = #{qrCodeUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="startPayTime != null "> and pay_time >= #{startPayTime}</if>
            <if test="endPayTime != null "> and pay_time &lt;= #{endPayTime}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="userInfo != null  and userInfo != ''"> and user_info = #{userInfo}</if>
        </where>
    </select>
    <select id="getPaymentOrder" parameterType="String" resultMap="SysPaymentOrderResult">
        <include refid="selectSysPaymentOrderVo"/>
        <where>
           order_no = #{tradeNo}
        </where>
    </select>
    
    <select id="selectSysPaymentOrderById" parameterType="Long" resultMap="SysPaymentOrderResult">
        <include refid="selectSysPaymentOrderVo"/>
        where id = #{id}
    </select>

    <select id="selectExpiredOrders" resultMap="SysPaymentOrderResult">
        <include refid="selectSysPaymentOrderVo"/>
        where status  = 'pending' and
        create_time  &lt;= #{payTime}
    </select>
    <select id="myPaymentList" parameterType="String" resultType="com.ruoyi.system.domain.vo.PaymentListDTO">
        select o.pay_time as payTime ,o.amount,o.product_name as productName ,o.create_time as createTime ,
        o.billing_type as billingType , o.payment_type as paymentType ,
        case when o.status = 'pending' then '支付中' when o.status = 'success' then '支付成功' when o.status = 'expired' then '交易关闭' end as status

        from sys_payment_order o

        where o.user_info = #{userInfo}
    </select>

    <insert id="insertSysPaymentOrder" parameterType="SysPaymentOrder" useGeneratedKeys="true" keyProperty="id">
        insert into sys_payment_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="amount != null">amount,</if>
            <if test="paymentType != null and paymentType != ''">payment_type,</if>
            <if test="qrCodeUrl != null">qr_code_url,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="productName != null">product_name,</if>
            <if test="userInfo != null">user_info,</if>
            <if test="addonId != null">addon_id,</if>
            <if test="planId != null">plan_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="clientUserId != null">client_user_id,</if>
            <if test="billingType != null">billing_type,</if>
            <if test="quantity != null">quantity,</if>
            <if test="clientUserAddonId != null">client_user_addon_id,</if>
            <if test="clientSubscriptionId != null">client_subscription_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="amount != null">#{amount},</if>
            <if test="paymentType != null and paymentType != ''">#{paymentType},</if>
            <if test="qrCodeUrl != null">#{qrCodeUrl},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="productName != null">#{productName},</if>
            <if test="userInfo != null">#{userInfo},</if>
            <if test="addonId != null">#{addonId},</if>
            <if test="planId != null">#{planId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="clientUserId != null">#{clientUserId},</if>
            <if test="billingType != null">#{billingType},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="clientUserAddonId != null">#{clientUserAddonId},</if>
            <if test="clientSubscriptionId != null">#{clientSubscriptionId},</if>
         </trim>
    </insert>

    <update id="updateSysPaymentOrder" parameterType="SysPaymentOrder">
        update sys_payment_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentType != null and paymentType != ''">payment_type = #{paymentType},</if>
            <if test="qrCodeUrl != null">qr_code_url = #{qrCodeUrl},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="userInfo != null">user_info = #{userInfo},</if>
            <if test="addonId != null">addon_id = #{addonId},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="clientUserId != null">client_user_id = #{clientUserId},</if>
            <if test="billingType != null">billing_type = #{billingType},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="clientUserAddonId != null">client_user_addon_id = #{clientUserAddonId},</if>
            <if test="clientSubscriptionId != null">client_subscription_id = #{clientSubscriptionId},</if>
        </trim>
        where 1=1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="orderNo != null and orderNo != ''">and order_no = #{orderNo}</if>
    </update>

    <delete id="deleteSysPaymentOrderById" parameterType="Long">
        delete from sys_payment_order where id = #{id}
    </delete>

    <delete id="deleteSysPaymentOrderByIds" parameterType="String">
        delete from sys_payment_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>