.page {
  background-color: rgba(3, 3, 0, 1);
  position: relative;
  width: 900px;
  height: 1440px;
  overflow: hidden;
  padding: 5px 21px 726px 21px;
}

.box_1 {
}

.text_1 {
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
}

.text_2 {
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin-left: 8px;
}

.image_1 {
  width: 36px;
  height: 10px;
  margin: 2px 0 2px 654px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 4px;
}

.image_2 {
  width: 27px;
  height: 12px;
  margin: 1px 0 1px 3px;
}

.box_2 {
  width: 680px;
  align-self: center;
  margin-top: 169px;
}

.text-group_1 {
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 42px;
  margin-right: 80px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(184, 184, 184, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 20px;
}

.button_1 {
  background-color: rgba(56, 56, 56, 1);
  border-radius: 21px;
  border: 1.166666666666667px solid rgba(83, 83, 83, 1);
  margin-bottom: 48px;
  padding: 8px 19px 7px 19px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
}

.box_3 {
  width: 680px;
  align-self: center;
  margin-top: 50px;
}

.input_1 {
  background-color: rgba(35, 35, 35, 1);
  border-radius: 8px;
  padding: 18px 528px 18px 20px;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.box_4 {
  width: 680px;
  align-self: center;
  margin-top: 20px;
}

.text-wrapper_1 {
  background-color: rgba(35, 35, 35, 1);
  border-radius: 8px;
  padding: 18px 520px 18px 20px;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_2 {
  width: 680px;
  align-self: center;
  margin-top: 20px;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(255, 0, 0, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.box_5 {
  width: 418px;
  align-self: center;
  margin-top: 130px;
}

.button_2 {
  background-color: rgba(248, 149, 117, 1);
  border-radius: 10px;
  padding: 15px 188px 15px 188px;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}
