<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.xmbj.mapper.AfUserAddonsMapper">

    <resultMap id="AfUserAddonsResult" type="com.ruoyi.xmbj.domain.AfUserAddons">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="addonId" column="addon_id"/>
        <result property="quantity" column="quantity"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.ruoyi.xmbj.domain.AfUserAddons">
        insert into af_user_addons (addon_id, created_at, end_date, quantity, start_date, status, uid, updated_at) values
        (#{addonId},#{createdAt},#{endDate},#{quantity},#{startDate},#{status},#{uid},#{updatedAt})
    </insert>

    <update id="update" parameterType="com.ruoyi.xmbj.domain.AfUserAddons">
        update af_user_addons
        <trim prefix="SET" suffixOverrides=",">
            <if test="addonId != null">addon_id = #{addonId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}

    </update>

</mapper>